.question-and-answer {
    border: 1px solid lightgray;
    padding: 5px 20px;
    border-radius: 10px;
    margin: 0 20px
}

.answer {
    border: 1px solid lightgray;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 10px;
}

/* large device */
@media only screen and (min-width:1000px) and (max-width:1200px) {
    .question-and-answer {
        width: 90%;
        text-align: center;
    }
}

/* Media Query for Tablet  */
@media only screen and (min-width:577px) and (max-width:999px) {
    .question-and-answer {
        width: 90%;
        text-align: center;
    }
}

/* Responsive for mobile device  */
@media only screen and (max-width: 576px) {
    .question-and-answer {
        width: 85%;
    }
}