.header {
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 130px;
    padding-right: 130px;
}

.header h1 {
    color: white;
}

.header h1:hover {
    color: orangered;
}

.header a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 17px;
    margin-left: 32px;
}

.header a:hover {
    color: orangered;
}

.title {
    display: flex;
    align-items: center;
}

.title .icon {
    margin-right: 7px;
    margin-top: 4px;
    font-size: 20px;
    color: orangered;
}